@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --background: #002B36;
    --containers: #004052;
    --text-regular: #FEFEE3;
    --text-selected: #D68C45;

    --header-height: clamp(50px, 10vh, 64px);
    --footer-height: 3vh;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    background-color: var(--background);
    height: 100vh;
}

a, p, h1, h3, body {
    color: var(--text-regular);
    font-family: Ubuntu;
    text-decoration: none;
    margin: 0;
}

a, p {
    font-size: 2em;
    line-height: 1.6em;
}

a {padding: 2.5px 5px;}

a:active {color: var(--text-selected);}

a:hover {
    transform: scale(1.1);
    background-color: var(--containers);
    border-radius: 20px;
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.5),
                0 16px 12px -8px rgba(0, 0, 0, 0.25),
                0 -4px 12px -2px rgba(0, 0, 0, 0.5);
}

footer {
    height: var(--footer-height);
    border-top: 1px solid grey;
}

footer > p {
    font-size: 1.6em;
    margin-left: 5px;
}

h1::selection, h3::selection, p::selection, a::selection {background-color: var(--text-selected);}

header {
    background-color: var(--containers);
    height: var(--header-height);
}

hr {width: 100%;}

main {height: calc(100vh - var(--header-height) - var(--footer-height));}

.center-evenly {justify-content: space-evenly;}

.center-v {
    height: 100%;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fs > img {max-height: 50%;}

.img-aside {margin-top: 24px;}

.img-aside > a {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.img-aside > a:active {filter: invert(68%) sepia(84%) saturate(629%) hue-rotate(327deg) brightness(90%) contrast(84%);}

.img-aside > a > img {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.mg-b-25 {margin-bottom: 25px;}

/*
* this class modified from @ https://stackoverflow.com/a/26634224
*/
.section-divider-named {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-divider-named::before, .section-divider-named::after {
    content: "";
    flex: 1;
    border: 2px solid var(--text-regular);
}

.section-divider-named:not(:empty)::before {margin-right: 15px;}

.section-divider-named:not(:empty)::after {margin-left: 15px;}

@media (min-width: 600px) {
    h1 {font-size: 4em;}

    h3 {font-size: 3.2em;}

    header > nav {max-width: 50vw;}

    .center-h {margin: 0 auto;}

    .half-width {max-width: 50%;}
}

@media not all and (min-width: 600px) {
    h1 {font-size: 3.2em;}

    h3 {font-size: 2.4em;}

    .center-h {margin: 0 1em;}
}