.nav-anchors {
    color: var(--text-regular);
    text-decoration: none;
}

.nav-items {
    margin: 0;
    padding: 0 72px;
    
    height: 64px;
    align-items: center;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-options {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.nav-brand:hover, .nav-options > a:hover {
    color: var(--text-hover);
}

#nav-brand-regular {
    font-size: 32px;
}

#nav-brand-mobile {
    font-size: 24px;
}

#nav-options-regular {
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#nav-options-mobile {
    padding-bottom: 8px;
    flex-direction: column;
    height: max-content;
}

#nav-options-regular > a {
    margin: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-options-mobile > a {
    margin: 8px 0;
}

#icon-nav {
    width: 35px;
    cursor: pointer;
}