.nav-items {
    margin: 0;
    padding: 0 32px;
    
    height: 64px;
    align-items: center;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-brand-regular, #nav-brand-mobile {
    color: var(--text-regular);
    text-decoration: none;
}

#nav-brand-regular {
    font-size: 32px;
}

#nav-brand-mobile {
    font-size: 24px;
}

#nav-options-regular, #nav-options-mobile {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

#nav-options-regular > a, #nav-options-mobile > a {
    color: var(--text-regular);
    text-decoration: none;
}

#nav-options-regular > a:hover, #nav-options-mobile > a:hover, #nav-brand-regular:hover, #nav-brand-mobile:hover {
    color: var(--text-hover);
}

#nav-options-regular {
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#nav-options-regular > a {
    margin: 0 20px 3px;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-options-mobile {
    padding-bottom: 8px;
    flex-direction: column;
    height: max-content;
}

#nav-options-mobile > a {
    margin: 8px 0;
}

#icon-nav {
    width: 35px;
}