<section id="form-section" class="center-h half-width">
    <h1>Contact Me</h1>
    <p class="mg-b-25 small-text">Note: I welcome all feedback, including criticism. Let me know how I can improve this portfolio.</p>
    <form>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
        </div>
        <hr />
        <div>
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" />
        </div>
        <hr />
        <div>
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="resize me!"></textarea>
        </div>
        <div>
            <input type="submit" value="Send" />
        </div>
    </form>
</section>