<div class="flex-col center-evenly">
    <div class="center-h half-width">
        <h1 class="mg-b-25">%0</h1>
        <p>
            I'm Chris, a Junior Software Developer with a passion for technology.
            My mission is to keep enhancing my skills and delve deeper into the world of tech.
            This portfolio serves as an incentive and a platform to achieve my mission goals,
            as I wish to see the projects page grow and showcase my skills.
        </p>
    </div>
</div>