<section id="hero-section" class="center-h half-width">
    <h1 class="mg-b-25">%%</h1>
    <p>
        I'm Chris, a Junior Software Developer with a passion for technology.
        My mission is to keep enhancing my skills and delve deeper into the world of tech.
        This portfolio serves as an incentive and a platform to achieve my mission goals,
        as I wish to see the projects page grow and showcase my skills.
    </p>
</section>
<section id="ql-section" class="center-h half-width">
    <div class="section-divider-named"><h3>Quick Links</h3></div>
    <aside id="img-aside" class="flex-row flex-even">
        <a id="ql-linkedin" href="https://www.linkedin.com/in/chrisl2k/" title="LinkedIn profile redirect" data-ext></a>
        <a id="ql-github" href="https://github.com/ChrisL2K/" title="GitHub account redirect" data-ext></a>
    </aside>
</section>