regular
<div class="nav-items">
    <a id="nav-brand-regular" href="/" data-link>Christian Lavoie</a>
    <div id="nav-options-regular">
        <a href="/projects" data-link>Projects</a>
        <a href="/resume" data-link>Resume</a>
        <a href="/contact-me" data-link>Contact me</a>
    </div>
</div>
regular
mobile
<div class="nav-items">
    <a id="nav-brand-mobile" href="/" data-link>Christian Lavoie</a>
    <img id="icon-nav" src="" />
</div>
<div id="nav-options-mobile" class="nav-items">
    <a href="/projects" data-link>Projects</a>
    <a href="/resume" data-link>Resume</a>
    <a href="/contact-me" data-link>Contact me</a>
</div>
mobile