<section class="center-h half-width">
    <h1 class="mg-t-20 ">Projects</h1>
    <div class="flex-col">
        <div>
            <select id="filterBy" name="filterBy">
                <option value="default">Filter by:</option>
                <option value="alpAscend">Alphabetical order (A-Z)</option>
                <option value="alpDescend">Alphabetical order (Z-A)</option>
                <option value="newest">Newest</option>
            </select>
        </div>
        <div class="grid">
            %%
        </div>
    </div>
</section>