<section class="center-h half-width">
    <div class="flex-row flex-even mg-t-20">
        <h1>Resume</h1>
    </div>
    <div class="resume-container mg-t-48">
        <div class="flex-row flex-even mg-b-25">
            <h3>Education</h3>
        </div>
        <div class="resume-item mg-b-25">
            <div class="resume-item-header">
                <h5>Algonquin College</h5>
                <h5>Ontario College Diploma - Computer Programming</h5>
                <p>May 2021 - December 2022</p>
            </div>
            <ul class="resume-item-list">
                <li>
                    Contributed to the development of web and mobile applications.
                </li>
                <li class="mg-t-12 mg-b-12">
                    Took part in regular Scrum meetings,
                    fostering collaborative teamwork and honing effective communication skills
                    while collaborating with multiple groups.
                </li>
                <li>
                    Utilized a diverse set of tools and programming languages,
                    including Java, JavaScript, SQL, and more,
                    to complete assignments and projects.
                </li>
            </ul>
        </div>
        <div class="resume-item">
            <div class="resume-item-header">
                <h5>Asticou Career Center</h5>
                <h5>Diploma of Vocational Studies - Plumbing and Heating</h5>
            </div>
            <ul class="resume-item-list">
                <li>
                    Gained proficiency in interpreting documentation,
                    in order to assist in system design.
                </li>
                <li class="mg-t-12 mg-b-12">
                    Produced preliminary technical plans,
                    while adhering to building regulations and relevant constraints.
                </li>
                <li>Constructed mock systems,
                    and conducted thorough testing for potential risks and failures.
                </li>
            </ul>
        </div>
    </div>
    <div class="resume-container mg-b-20 mg-t-20">
        <div class="flex-row flex-even mg-b-25">
            <h3>Professional Experience</h3>
        </div>
        <div class="resume-item mg-b-25">
            <div class="resume-item-header">
                <h5>CH2015 & Groupe Langelier</h5>
                <h5>Apprentice Plumber</h5>
                <p>2019-2021</p>
            </div>
            <ul class="resume-item-list">
                <li>
                    Acquired valuable experience collaborating with large teams and engaging
                    with diverse external groups.
                </li>
                <li class="mg-t-12 mg-b-12">
                    Contributed to the successful completion of a large-scale commercial project. [Vilia Gatineau]
                </li>
                <li>
                    Demonstrated the ability to adapt to changing priorities and evolving project needs.
                </li>
            </ul>
        </div>
    </div>
</section>